<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Test</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Articles</h1>
        <div th:if="${flag=='list'}">
            <p>List Articles</p>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Author</th>
                        <th>Content</th>
                        <th>Type</th>
                        <th>Create At</th>
                        <th>Update At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="article, stat:${articleList}">
                        <td th:text="${article.id}"></td>
                        <td th:text="${article.author}"></td>
                        <td th:text="${article.content}"></td>
                        <td th:text="${article.type}"></td>
                        <td th:text="${article.create_time}"></td>
                        <td th:text="${article.update_time}"></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div th:if="${flag!='list'}">
            <p>Unknown error.</p>
        </div>
    </body>
</html>