<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Test</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Articles</h1>
        <div th:if="${flag=='update'&&article!=null}">
            <p>Update Article</p>
            <form method="POST" th:action="@{'/article/update/' + ${id}}">
                <p th:text="'Author: ' + ${article.author}"></p>
                <label>Content:</label>
                <input type="text" name="content" th:value="${article.content}">
                <p th:text="'Type: ' + ${article.type}"></p>
                <input type="submit", value="update" th:if="${success!=1}">
            </form>
            <div th:if="${success==1}">
                <p>success!</p>
                <a th:href="@{/article/list}">Go back to list.</a>
            </div>
        </div>
        <div th:if="${flag!='update'||article==null}">
            <p>Unknown error.</p>
        </div>
    </body>
</html>