<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Test</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Home Page</h1>
        <div class="user_login">
            <form method="POST">
                <label>Username</label>
                <input type="text" name="username" required="required"/>
                <label>Password</label>
                <input type="password" name="password" required="required"/>
                <input type="submit" value="Login"/>
                <input type="reset" value="Clear"/>
            </form>
        </div>
        <div>
            <a th:href="@{/article/list}">Article list</a>
            <a th:href="@{/user/list}">User list</a>
        </div>
    </body>
</html>