<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Test</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Users</h1>
        <div th:if="${flag=='list'&&userList!=null}">
            <p>List Users</p>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="userList, stat:${userList}">
                        <td th:text="${userList.id}"></td>
                        <td th:text="${userList.username}"></td>
                        <td th:text="${userList.password}"></td>
                        <td><a th:href="@{'/user/detail/' + ${userList.id}}">Detail</a></td>
                    </tr>
                </tbody>
            </table>
            <a th:href="@{/user/add}">Add User.</a>
            <a th:href="@{/home}">Home</a>
        </div>
        <div th:if="${flag!='list'||userList==null}">
            <p>Unknown error.</p>
        </div>
    </body>
</html>