<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Test</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Users</h1>
        <div th:if="${flag=='add'}">
            <p>Add User</p>
            <form method="POST" th:action="@{/user/add}">
                <label>Username</label>
                <input type="text", name="username">
                <label>Password</label>
                <input type="password", name="password">
                <input type="submit", value="add" th:if="${success!=1}">
            </form>
            <div th:if="${success==1}">
                <p>success!</p>
                <a th:href="@{/user/list}">Go to list.</a>
            </div>
        </div>
        <div th:if="${flag!='add'}">
            <p>Unknown error.</p>
        </div>
    </body>
</html>